<a href="https://colab.research.google.com/github/why00n/card/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

path='/content/drive/MyDrive/creditcard'
train=pd.read_csv(path+'/train.csv',sep=',')
train=train.drop('index',axis=1)

test = pd.read_csv(path+'/test.csv')
test = test.drop('index', axis=1)

submit = pd.read_csv(path+'/sample_submission.csv')

In [ ]:
print(train.columns)
print(test.columns)

Index(['gender', 'car', 'reality', 'child_num', 'income_total', 'income_type',
       'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'occyp_type',
       'family_size', 'begin_month', 'credit'],
      dtype='object')
Index(['gender', 'car', 'reality', 'child_num', 'income_total', 'income_type',
       'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'occyp_type',
       'family_size', 'begin_month'],
      dtype='object')

# **preprocessing**

*   occyp_type drop
*   FLAG_MODIL drop
*   numerical value 양수로 변환
*   가족 수 보다 자녀 수가 많은 행 제거

In [ ]:
train=train.drop(['occyp_type','FLAG_MOBIL'], axis=1)
train.loc[train['DAYS_EMPLOYED']>0, 'DAYS_EMPLOYED']=0
train['DAYS_EMPLOYED']=train['DAYS_EMPLOYED'].abs()
train['DAYS_BIRTH']=train['DAYS_BIRTH'].abs()
train['begin_month']=train['begin_month'].abs()
train=train.drop(train[train['family_size']<train['child_num']].index)

In [ ]:
test=test.drop(['occyp_type','FLAG_MOBIL'],axis=1)
test.loc[test['DAYS_EMPLOYED']>0, 'DAYS_EMPLOYED']=0
test['DAYS_EMPLOYED']=test['DAYS_EMPLOYED'].abs()
test['DAYS_BIRTH']=test['DAYS_BIRTH'].abs()
test['begin_month']=test['begin_month'].abs()
test=test.drop(test[test['family_size']<test['child_num']].index)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26456 entries, 0 to 26456
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         26456 non-null  object
 1   car            26456 non-null  object
 2   reality        26456 non-null  object
 3   child_num      26456 non-null  int64
 4   income_total   26456 non-null  float64
 5   income_type    26456 non-null  object
 6   edu_type       26456 non-null  object
 7   family_type    26456 non-null  object
 8   house_type     26456 non-null  object
 9   DAYS_BIRTH     26456 non-null  int64
 10  DAYS_EMPLOYED  26456 non-null  int64
 11  work_phone     26456 non-null  int64
 12  phone          26456 non-null  int64
 13  email          26456 non-null  int64
 14  family_size    26456 non-null  float64
 15  begin_month    26456 non-null  float64
 16  credit         26456 non-null  float64
dtypes: float64(4), int64(6), object(7)
memory usage: 3.6+ MB

# one-hot encoding

In [ ]:
# dtype이 object 타입인 컬럼만 추출 
train.select_dtypes("object").columns

Index(['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type',
       'house_type'],
      dtype='object')

In [ ]:
train_dummies=pd.get_dummies(train)
test_dummies=pd.get_dummies(test)

In [ ]:
train_dummies.columns

Index(['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'work_phone', 'phone', 'email', 'family_size', 'begin_month', 'credit',
       'gender_F', 'gender_M', 'car_N', 'car_Y', 'reality_N', 'reality_Y',
       'income_type_Commercial associate', 'income_type_Pensioner',
       'income_type_State servant', 'income_type_Student',
       'income_type_Working', 'edu_type_Academic degree',
       'edu_type_Higher education', 'edu_type_Incomplete higher',
       'edu_type_Lower secondary', 'edu_type_Secondary / secondary special',
       'family_type_Civil marriage', 'family_type_Married',
       'family_type_Separated', 'family_type_Single / not married',
       'family_type_Widow', 'house_type_Co-op apartment',
       'house_type_House / apartment', 'house_type_Municipal apartment',
       'house_type_Office apartment', 'house_type_Rented apartment',
       'house_type_With parents'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x=train_dummies.drop(columns='credit')
y=train['credit']
x_train,x_test,y_train,y_test=train_test_split( x, y,test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train, y_train)

pred_train=rf.predict(x_train)
pred_test=rf.predict(x_test)
acc_train=accuracy_score(y_train,pred_train)
acc_test=accuracy_score(y_test,pred_test)

print(f'학습: {acc_train}, 테스트:{acc_test}')

#y_pred=rf.predict(x_test)
#acc=accuracy_score(y_test,y_pred)

# 모델 분류 정확도

학습: 0.9799665208704573, 테스트:0.6940909663600857

In [ ]:
train.to_csv(path+ '/train2.csv', sep=',')
test.to_csv(path+'.test2.csv',sep=',')